<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">


</head>
    <meta charset="UTF-8">
<body>
<title>decoupe_image_quatro.html</title>
<div id ="gauche">
            nom de l'image : {{nom}}<br>
            adresse : {{adresse}}<br>
    <img id="zqx" src="/media/images_de_base/antoine_retaillee.png"  alt="mon image1">
    <img id="zqq" src="/media/images_de_base/{{nom}}"  alt="mon image2">
    <br>
    <img id="zql" src="{{adresse}}"  alt="mon image3">
    <img id="zqx" src="/media/images_ajustees/{{nom}}"  alt="mon image4">
    <br>
    <canvas id="canvas_1"
                    width="500px"
                    height="500px"
                    style="background-image: url({{adresse}})"
                    alt="mon image6"
                    >
    Canvas tag not supported
</canvas>
</div>
</body>
</html>