<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>decoupe_image.html</title>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
}

html, body {
	//height: 100%;
	width :100%;
	font :'20pt Calibri';

}

#gauche {
    position : relative;
    top : 0;
    //bottom : 0;
	width: 55%;
	height 100%;
	//height: 600px;
	float: left;
	background-color: red;
}
#droite {
    position : relative;
    top : 0;
    //bottom : 0;
    width : 45%;
    //height :100%;
	//height: 600px;
	float: right;
	background-color: green;
	font-size: 1.5em;
}
#decoupe{
    margin-top : 50px;
    margin-left : 50px;
}
#canvas_1{
}
</style>
</head>
    <meta charset="UTF-8">
<body>

<div id ="gauche">
    <div id="decoupe">
            nom de l'image : {{nom}}<br>
            <CANVAS id="canvas_1"
                    width="{{largeur_canvas}}"
                    height="{{hauteur_canvas}}"
                    style="background-image: url({{adresse}})"
                    >
			Canvas tag not supported
            </CANVAS>
    </div>

<script type="text/javascript">
    depart();
    function depart (){   //initialisation de l'image
    var canvas = document.getElementById("canvas_1");
	var ctx = canvas.getContext('2d',{top : 30});
    imgfond = new Image();   // Crée un nouvel élément img
    imgfond.onload=function() {
    ctx.drawImage(imgfond, 0, 0);
    }
    rect = canvas.getBoundingClientRect();
	const	a=rect.left;
	const	b=rect.top;

	//function afficheRect(u,v,w,z){
	//	ctx.strokeStyle = '#4444CC'; //Nuance de bleu
	//	ctx.strokeRect(u,v,w,z);
	//}
	etape=0;
	canvas.addEventListener("mousedown", doMouseDown, false);

	function doMouseDown(event){
	        ctx.clearRect(0, 0, canvas.width,canvas.height);
			canvas.removeEventListener("mousedown", doMouseDown, false);
			canvas.addEventListener("mousemove", doMouseMove, false);
			canvas_x = event.clientX-a;//à rétablir
			canvas_y = event.clientY-b;//à rétablir
			document.getElementById("coordonnes").value = canvas_x + ', ' + canvas_y;
			document.getElementById("coordx").value = canvas_x;
			document.getElementById("coordy").value = canvas_y;
			//redessiner l'image
		    var img=new Image();
		    img.onload=function(){
				ctx.drawImage(img,0,0);
				ctx.strokeStyle = '#4444CC'; //Nuance de bleu
				//ctx.strokeRect(40,40,300,300);
		    }
		    ;
	}

	function getMousePos(evt) {
            return {
                x: evt.clientX - a,
                y: evt.clientY - b
            };
        }

	function doMouseMove(event){
	        if (etape==0)
	        {
			ctx.clearRect(0, 0, canvas.width,canvas.height);//indispensblae
			pos = getMousePos(event);
			document.getElementById("coordonnes0").value = pos.x + ', ' + pos.y;
			document.getElementById("largeur").value = pos.x-canvas_x;
			document.getElementById("hauteur").value = pos.y-canvas_y;
		    canvas = document.getElementById("canvas_1");
		    ctx = canvas.getContext('2d');
		    var img=new Image();
		    img.onload=function(){
				ctx.drawImage(img,0,0);
				ctx.strokeStyle = '#4444CC'; //Nuance de bleu
				ctx.strokeRect(canvas_x, canvas_y,pos.x-canvas_x , pos.y-canvas_y);
				ctx.font = '20pt Calibri';
			    ctx.fillText('position :'+ pos.x + ', ' + pos.y, 10, 55);
			    ctx.fillText('canvas :'+ canvas_x + ', ' + canvas_y, 10, 25);
		    }
		    ctx.strokeRect(canvas_x, canvas_y,pos.x-canvas_x , pos.y-canvas_y);
            img.src='antoine_retaillee.png';
			canvas.addEventListener("mouseup", doMouseUp, false);
			if
 (etape==1) {canvas.removeEventListener("mousemove", doMouseMove, false);};
			}
		}
	function doMouseUp(event){
			etape=1;
			ctx.clearRect(0, 0, canvas.width,canvas.height);
			canvas_xx = event.clientX-a;
			canvas_yy = event.clientY-b;
			document.getElementById("coordonnes1").value = canvas_xx + ', ' + canvas_yy;
			document.getElementById("coordxx").value = canvas_xx;
			document.getElementById("coordyy").value = canvas_yy;
			ctx.strokeRect(canvas_x, canvas_y,canvas_xx-canvas_x , canvas_yy-canvas_y);
			ctx.fillText('position :'+ pos.x + ', ' + pos.y, 10, 55);
			ctx.fillText('canvas :'+ canvas_x + ', ' + canvas_y, 10, 25);
			canvas.removeEventListener("mouseup", doMouseUp, false);
			canvas.addEventListener("mousedown", depart, false);
		}
    }
</script>
</div>

<div id="droite">

<span> Espace où écrire les instructions et les résultats.</span>
        <div id="info">
            <form action="pavage_reponse" id="form" name="form" method="post">
                {% csrf_token %}
                Coordonnées avant :
				<input type="text" name="coordonnes" id="coordonnes" value="inconnues" readonly="readonly" />
				<br>
				Coordonnées pendant :
				<input type="text" name="coordonnes0" id="coordonnes0" value="inconnues" readonly="readonly" />
				<br>
				Coordonnées après :
				<input type="text" name="coordonnes1" id="coordonnes1" value="inconnues" readonly="readonly" />
                <br>
                Largeur :
                <input type="text" name="largeur" id="largeur" value="inconnues" readonly="readonly" />
                <br>
                Hauteur :
                <input type="text" name="hauteur" id="hauteur" value="inconnues" readonly="readonly" />

			    <input type="hidden" name="coordx" id="coordx" />
			    <input type="hidden" name="coordy" id="coordy" />
			    <input type="hidden" name="coordxx" id="coordxx" />
			    <input type="hidden" name="coordyy" id="coordyy" />

                <input type="hidden" name="nom" id="nom" value="{{nom}}"/>

		        <p><input type="submit"
                          value="Validez ici pour voir le pavage hyperbolique construit avec votre image"></p>
                <p>il faudrait que la mise en page soit optimale en plein écran.</p>
        </form>
        </div>
</div>

</body>
</html>


